* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: #011b2b;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  position: fixed;
  padding: 20px;
  background-color: #024e58c7;
  color: white;
}
.nav-cen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-top: 10px;
}

.cyan {
  color: #05ffff;
}
.logo {
  display: flex;
  border-bottom: 2px solid #05ffff;
}
.b-bottom {
  border-bottom: 2px solid #05ffff;
}
ul {
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
}

a {
  text-decoration: none;
}
nav > ul > li > a {
  color: white;
  margin: 10px;
  padding: 10px;
}
nav > ul > li > a:hover {
  transition: color 0.5s;
  color: #05ffff;
}
.f-large {
  font-size: 3rem;
  font-weight: bold;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-inline: auto;
  height: 80%;

  margin-top: 5vh;
  margin-bottom: 5vh;
  animation-name: flex-con;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
.section {
  width: 100%;
  /* background-image: linear-gradient(#000c13, #011d1d); */
  background: #011b2b;
  border-bottom: 2px solid #05ffff;
}
.left {
  padding: 10px;
  color: white;
  text-align: left;
  font-weight: lighter;
  font-size: large;
  /* animation-name: f-large;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  */
}

@keyframes f-large {
  from {
    font-size: small;
  }
  to {
    font-size: x-large;
  }
}

.inline {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.text-large {
  font-size: 3.5rem;
}
.p-thick {
  padding: 20px;
}

.projects {
  /* overflow-y: auto; */
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  width: 80%;
  /* height: 700px; */
  /* border-bottom: 2px solid #05ffff; */
}
.card-img {
  width: 10%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card {
  margin: 10px;

  border-radius: 20px;
  background: #0d6b7756;
  padding: 10px;
  color: white;
}
.card-content {
  display: flex;
  justify-content: left;
  margin: 10px;
}
.btn-group {
  display: flex;
  margin-top: 10px;
}
.card button {
  margin-left: 10px;
}
.btn-sm {
  background: #09e6e6;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  font-size: large;
  border-radius: 10px;
}
.mr-2 {
  margin-right: 20px;
}
.btn-sm-alt {
  background: #1f1f1f;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  font-size: large;
  border-radius: 10px;
}
.text-center {
  text-align: center;
}
.section-header {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-header > h1 {
  border-bottom: 2px solid #05ffff;
  border-width: 6px;
  text-align: center;
  width: 160px;
}
.project-section {
  padding-bottom: 50px;
  border-bottom: 2px solid #05ffff00;
}
.footer-icon {
  height: 100px;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #024e58c7;
}
.social-link {
  font-size: 1.5rem;
  margin-inline: 10px;
  color: #04ffff;
}
@media screen AND (max-width: 1500px) {
  .hero {
    justify-content: center;
    height: 100%;
    width: 60vw;
    padding: 10vh;
    border-radius: 20px;
    background-color: #024e58c7;
  }

  .home {
    background-image: url("../img/developer.png");
    background-repeat: no-repeat;
    background-size: 50vw;

    background-position-x: center;
    background-position-y: center;
  }
  .hero .right {
    display: none;
  }
}
